#----------
# IDE's etc
#----------
.idea

#---------
# Binaries
#---------
src/test/cpp/gtester/gtester
src/main/cpp/stride

#--------------
# Documentation
#--------------
src/doc/doxygen_ref_man/Doxyfile
src/doc/doxygen_ref_man/*.log
src/doc/doxygen_ref_man/html/*
src/doc/doxygen_ref_man/latex/*
src/doc/doxygen_ref_man/reference_doc_html/*
#src/doc/doxygen_ref_man/${DOXY_HTML_DIR}/

#---------------
# Hdf5 datafiles
#---------------
*.h5

#--------------
# Generic stuff
#--------------
*.cache
*.Debug
*.o
*.orig
*.out
*.Release
*~
.\#*
*.bak
*.DS_Store
*._*
*.directory
*-eps-converted-to.pdf
*.Rhistory
*.a

#------------------------------------
# Local make config & build directory
#------------------------------------
/.cproject
/.project
/MakeLocalConfig
/.settings/
target*/
build*/
*.cmake
CMakeCache.txt
#CMakeFiles
#Makefile

#------------------------------------
# Latex stuff
#------------------------------------
/src/doc/latex_user_man/UserManual.aux
/src/doc/latex_user_man/UserManual.bbl
/src/doc/latex_user_man/UserManual.blg
/src/doc/latex_user_man/UserManual.out
/src/doc/latex_user_man/UserManual.synctex.gz
/src/doc/latex_user_man/UserManual.toc
