<!DOCTYPE html>
<html lang="en" ng-app="OverviewApp" ng-controller="OverViewController">
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<link rel="stylesheet" href="menuBar.css">
	<link rel="stylesheet" href="popup.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<meta charset="UTF-8">
	<title>Overview</title>
	<script src="util.js"></script>
	<script src="ProcessData.js"></script>
	<script src="index.js"></script>
	<script src="OverviewContent.js"></script>
	<base href="/">
</head>
<body>
	<p class="title">Overview</p>

	<div class="paneBody">
		<div class="paneContainer">
			<div class="pane">
				<button id="btnPreviousGraph" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="previousGraph()">
					<i class="material-icons">navigate_before</i>
				</button>
			</div>
			<div class="centerPane pane">
				<div id="graphInfected"></div>
			</div>
			<div class="pane">
				<button id="btnNextGraph" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="nextGraph()">
					<i class="material-icons">navigate_next</i>
				</button>
			</div>
		</div>
	</div>

	<p class="subtitle">Information for current day: {{currentDay}}</p>
	<ul class="demo-list-item mdl-list questions" id="current_data">
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Population Size:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Amount of infected people:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Amount of clusters:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Household population density:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Work population density:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">School population density:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Primary Community population density:</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">Secondary Community population density:</span>
		</li>
	</ul>

	<ul class="demo-list-item mdl-list answers">
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{population_size}}</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{infected}}</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{total_cluster}}</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{household_density}} / km²</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{school_density}} / km²</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{work_density}} / km²</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{primary_community_density}} / km²</span>
		</li>
		<li class="mdl-list__item">
			<span class="mdl-list__item-primary-content">{{secondary_community_density}} / km²</span>
		</li>
	</ul>

	<p class="subtitle">Pick a cluster</p>
	<div id="pickClusterArea">
		<div class="paneContainer">
			<div class="pane">
				<div id="tableContainer">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"  id="clusterList">
						<thead class="nonexistent">
							<tr class="nonexistent">
								<th class="mdl-data-table__cell--non-numeric nonexistent"></th>
								<th class="nonexistent"></th>
							</tr class="nonexistent">
						</thead>
						<tbody>
							<tr ng-click="clusterClick(cluster.ID)" ng-repeat="cluster in clusters">
								<td class="clickable">Cluster {{cluster.ID}}</td>
								<td class="clickable">{{cluster.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="centerPane" class="pane">Or</div>
			<div class="pane">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="inputID">
						<label class="mdl-textfield__label" for="sample2">Cluster ID...</label>
						<span class="mdl-textfield__error">Input is not a number!</span>
					</div>
				</form>
				<button id="btnChooseCluster" class="mdl-button mdl-js-button mdl-button--raised fullWidthBtn center" ng-click="TODO()">
					Open Cluster
				</button>
			</div>
		</div>
	</div>
</div>
</body>

</html>